.tablesorter thead th {
    padding-right: 24px;
}
.tablesorter_ascdesc {
    background: url("ascdesc-black.png") no-repeat right center;
    cursor: pointer;
}
.tablesorter_asc {
    background: url("asc-black.png") no-repeat right center;
    cursor: pointer;
}
.tablesorter_desc {
    background: url("desc-black.png") no-repeat right center;
    cursor: pointer;
}

/*
 * Zebra look
 */
.tablesorter tbody tr {
    color: black;
}
.tablesorter tbody tr:nth-child(2n+1) {
    background: #fff;
}
.tablesorter tbody tr:nth-child(2n) {
    background: #eee;
}

.tablesorter_expand {
    width: 24px;
    height: 24px;
    background: no-repeat center url("expand-black.png");
    margin-right: 1em;
}
.tablesorter_collapse {
    width: 24px;
    height: 24px;
    margin-right: 1em;
    background: no-repeat center url("collapse-black.png");
}
.tablesorter dl {
    margin-left: 2em;
}
.tablesorter dt {
    font-weight: bold;
}
