.tablesorter thead th button{
    width: 100%;
}
.tablesorter_ascdesc:after, .tablesorter_asc:after, .tablesorter_desc:after {
    color: #555;
}
.tablesorter_ascdesc:after {
    content: "▲▼";
    letter-spacing: -0.3em;
    padding: 0 0 0 0.7em;
}
.tablesorter_asc:after, .tablesorter_desc:after {
    padding: 0 0 0 1.1em;
}
.tablesorter_asc:after {
    content: "▲";
}
.tablesorter_desc:after {
    content: "▼";
}

/*
 * Zebra look
 */
.tablesorter tbody tr {
    color: black;
}
.tablesorter tbody tr:nth-child(2n+1) {
    background: #fff;
}
.tablesorter tbody tr:nth-child(2n) {
    background: #eee;
}

.tablesorter_expand, .tablesorter_collapse {
    width: 100%;
}
.tablesorter_expand:after, .tablesorter_collapse:after {
    color: #555;
    padding: 0 0 0 0.5em;
}
.tablesorter_expand:after {
    content: "▼";
}
.tablesorter_collapse:after {
    content: "▲";
}

.tablesorter dl {
    margin-left: 2em;
}
.tablesorter dt {
    font-weight: bold;
}

.tablesorter_pagination {
    text-align: right;
    padding: 1em 0;
}

/*
 * Back-end
 */
.tablesorter_logo {
    float: left;
    margin: 0 1em 1em 0;
}
.tablesorter_license {
    text-align: justify;
    clear: left;
}
